.videocontainer{
    width: 70vw;
}

.videocontainer video{
    width: 100%;
}

.videopage{
 display: flex;
}

.leftside{
 display: flex;
 flex-direction: column;
}

.playlistdiv{
    background-color: rgb(60, 60, 60);
    flex: 1;
}

.playlistelement{
    padding: 20px;
    background-color: rgb(29, 107, 176);
    margin: 10px;
    border-radius: 10px;
}

.selected{
    background-color: yellow;
}

.commentsdiv{
    background-color: rgb(78, 78, 78);
}

.commentsdiv input{
    padding: 10px;
    margin: 10px;
}

.comment{
    background-color: white;
    color: black;
    padding: 16px;
    width: max-content;
    border-radius: 10px;
    margin: 10px;
}

.comment p{
    opacity: 0.5;
}