.loginform{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginmessage{
  padding: 10px;
  border-radius: 7px;
}

#success{
  background-color: lightgreen;
}

#error{
  background-color: red;
  color: white;
}